doctype html
html(lang='pt-br')
 head
   meta(http-equiv="X-UA-Compatible" content="IE=edge")
   meta(name="viewport" content="width=device-width, initial-scale=1.0")
   link(rel="preconnect" href="https://fonts.googleapis.com")
   link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
   link(href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap" rel="stylesheet")
   link(rel="stylesheet", href="/css/styles.css")
   link(rel="stylesheet", href="/css/all.css")
   script(src="/js/bbcodes.js")
   title Forum
 body
   div.main
    div.content
      div(class="box header")
        h3 johndoe.com
      include includes/navbar.pug
      block content
