<% if (typeof msg != 'undefined') { %>
    <h3> <%= msg %>  </h3>
    
<% } %>

<form method="post">
    <label>Username</label>
    <input type="text" name="name"/>
    <label>Password</label>
    <input type="password" name="password"/>
    <input type="submit" value="Login"/>
</form>