extends layout.pug
block content
    h3 Criar nova conta
    form(action="", method="post" class="form-1") 
        label(for="") Username
        input(type="text" name="username")
        label(for="") Email 
        input(type="email" name="email")
        label(for="") Password 
        input(type="password" name="password")
        input(type="submit")